


/*GENERALES*/
img{
    display: block;
    width: 100%;
}

.wrapper_section{
    margin: 0 auto;
    max-width: 650px;
    padding: 60px 20px 90px 20px;
}

.wrapper_sangre{
    margin: 0 auto;
    max-width: 1400px;
    padding: 60px 20px 90px 20px;
}

.doble_column{
    display: initial;
}

.triple_column{
    grid-template-areas: '.. MyArea';
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    display: grid;
}

.column{
    width: 100%;
}

.marco_phone{
    border: 0.7vh solid #14151B;
    border-radius: 20px;
}

.lottie-player .animation{
    border: 0.7vh solid #14151B;
    border-radius: 20px;
}

.aspect_ratio{
    background-image: url(./img/proto_sopa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#off{
    background-color: transparent;
}

.aqui:hover{
    transition: 0.3s;
    color: #01FA6F;
}

/*GAMA*/

.mo600{
 color: #992E0A;
}

/*MARGENES*/

.marg_reg{
    margin-bottom: 22px;
}

.marg_big{
    margin-bottom: 50px;
}

.marg_super{
    margin-bottom: 145px;
}

/*PORTADA*/
.portada{
    background-color: #F15B28;
    background-image: url(./svg/portada_icon.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 250px;
}

.portada_content{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 80px 20px;
}

.portada_texto{
    padding-right: 20px;
    max-width: 620px;
    margin-top: -80px;
}

.portada_img{
        max-width: 400px;
        margin: 0 0 0 auto;
    }


.alierre{
    color: #F9B69F;
}

.alierre:hover{
    color: #FDE2D9;
}

/*INTRO*/

.intro{
    background-color: #14151B;
}


/*USUARIOS*/

.usuarios{
    background-color: #EDE9E8;
}

#topcero{
    padding-top: 0;
}

/*ESTILOS*/

.estilos{
    background-color: #14151B;
}

.etiqueta{
    position: relative;
}

.etiqueta span{
    z-index: 1;
    position: relative;
    padding: 0 15px 0 0;
    background: #14151B;
}

.etiqueta::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    background: #9497B0;
}

.gama{
    display: flex;
    height: 150px;
    justify-content: space-between;
}

.gama_block{
    border-radius: 20px;
    width: 30%;
}

.paleta{
    display: flex;
    height: 15%;
}

.principal{
    border-radius: 10px 10px 0 0;
    height: 85%;
}

.secundary{
    width: 15%;
    height: 100%;
}

#foto_reticula img{
    max-width: 400px;
    margin: -60px 0 0 -20px;
}


/*WIREFRAMES*/

.wireframes{
    background-size: 250px;
    background-color: #EDE9E8;
    background-repeat: no-repeat;
    background-image: url(./svg/wireframe_icon.svg);
    background-position: bottom right;
}

.espacio{
    grid-area: MyArea;
}

.espacio_par{
    margin-top: -100px;
}

.espacio_impar{
    margin-top: 100px;
}

.wireframes_dos{
    background-size: 250px;
    background-color: #EDE9E8;
    background-repeat: no-repeat;
    background-image: url(./svg/wireframe_icon2.svg);
    background-position: bottom right;
}

/*COMPONENTES*/


.componentes{
    background-color: #601D06;    
}

.wrapper_componentes{
    margin: 0 auto 0 auto;
    max-width: 1400px;
    padding: 60px 0 0 0;
}

#sub_wrapper{
    padding: 0 20px;
}

.componentes_foto img{
    object-fit: cover;
    height: 100%;
}

/*PROTOTIPO*/

.prototipo{
    background-color: #EDE9E8;
}

#ticket{
    border: 6px solid transparent;
    z-index: 2;
    margin-top: -13px;
    border-radius: 0 0 20px 20px;
}

#top{
    margin-top: 150px;
}

#top2{
    margin-top: -135px;
}

/*DESKTOP*/

.desktop{
    background: linear-gradient(0deg, #EDE9E8 50%, #992E0A 50%);
}

#derecha{
    padding: 90px 0 90px 20px;
}

/*SCREEN*/

.screen{
    background-color:#601D06;
}

/*ANIMACIONES*/

.animaciones{
    background-color: #EDE9E8;
}

/*FIGMA*/

.figma{
    height: 0;
}

.figma_wrapper{
    visibility: hidden;
}

.figma_proto{
    visibility: hidden;

}


@media screen and (min-width: 1000px){

    /*GENERALES*/
    .wrapper_section{
        max-width: 1400px;
        padding: 150px 80px 150px 80px;
    }

    .wrapper_sangre{
        padding: 150px 80px 150px 80px;
    }

    .doble_column{
        display: flex;
    }

    .column{
        width: 50%;
    }

    .triple_column{
        grid-template-areas: 'myArea . .';
        grid-template-columns: repeat(3, auto);
        grid-gap: 60px;
        display: grid;
    }

    .marco_phone{
        border: 10px solid #14151B;
    }

    lottie-player .animation{
        border: 10px solid #14151B;
    }


    /*PORTADA*/
    .portada_content{
        align-items: center;
        flex-direction: initial;
        justify-content: space-between;
        padding: 0 0 0 80px;
        display: flex;
    }

    .portada_texto{
        margin-top: 0px;
    }

    .portada_img{
        max-width: initial;
    }

    /*ESTILOS*/

    #foto_reticula img{
        margin: -150px 0 0 0;
        width: 70%;
    }

    .espacio{
        grid-area: initial;
    }
    
    .espacio_par{
        margin-top: 0;
    }
    
    .espacio_impar{
        margin-top: 0;
    }


    /*COMPONENTES*/

    .wrapper_componentes{
        display: flex;
        margin: 0 auto 0 auto;
        max-width: 1400px;
        padding: 0px 80px 0px 80px;
    }

    #sub_wrapper{
        margin: auto 0;
    }

    /*PROTOTIPO*/

    #ticket{
        border: 10px solid transparent;
        margin-top: -21px;
    }
    
    #top{
        margin-top: -100px;
    }

    #top2{
        margin-top: 0;
    }


    /*DESKTOP*/
    #derecha{
        padding: 150px 80px 150px 80px;
    }

    /*SCREEN*/

    .screen img {
        max-width: 1920px;
        max-height: 1352px;
    }

    /*FIGMA*/

    .figma{
        height: initial;
        visibility: initial;
        margin-bottom: -54px;
        background-color: #F15B28;
    }

    .figma_wrapper{
        visibility: initial;
        width: 100%;
    }

    .figma_proto{
        visibility: initial;
        height: 105vh;
        border: none;
        width: 100%;

    }
}