html{
    margin: 0;
    background-color: grey;
    height: 200vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    position: fixed;
}

.header_wrapper{
    height: 60px;
    margin: 0 15px;
    padding: 7px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.isotipo{
    display: none;
}

.burger{
    cursor: pointer;
}

.menu{
    z-index: 100;
    display: flex;
    padding: 15px 50px 50px 50px;
    top: 0;
    left: 100%;
    position: fixed;
    width: 80vw;
    height: 100%;
    transition: left .3s ease-in-out;
    background-color: #3045FD;
}

.menu_close{
    margin-right: 15px;
    position: absolute;
    right: 0;
}

.menu_lista{
    list-style: none;
    margin: auto;
    text-align: center;
}

.menu_logo{
    position: absolute;
    bottom: 0;
    width: 80vw;
    margin-left: -50px;
}

.menu_logo svg{
    margin: 0 auto;
    width: 100%;
}

.menu-open .menu{
    left: 20%;
}

@media screen and (min-width: 1000px){

    .menu_close{
        display: none;
    }

    .menu_logo{
        display: none;
    }

    .burger{
        display: none;
    }

    .menu{
        position: relative;
        width: initial;
        background-color: transparent;
        left: 0;
        padding: 0;
        height: initial;
    }

    .menu_lista{
        margin: 0;
        display: flex;
    }

    .logotipo{
        display: none;
    }

    .isotipo{
        display: initial;
    }
}